/*---------- Секція"Особенности" -------*/

.features-works__list {
  display: flex;
}

.features-works__items {
  width: calc((100% - 90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

/*-- Іконки секції"Особенности" --*/
.features-works__container {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}

/*-- Контент секції "Особенности" --*/
.features-works__title {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-works__item {
  padding-top: 1.5px;
  padding-bottom: 1.5px;

  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
}
