/*-----Шапка сайту------*/
.page-header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
