/*-------- Початок сторінки сайту "Портфоліо"--------*/
/*--- Унікальний контент сторінки----*/
/*--- Секція порфоліо---*/
/*-- Список фільтрів --*/

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.filter-list__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter-list__btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  background: #f5f4fa;
  font-family: inherit;
  font-style: normal;
  @include font(16px, 500, 1.63);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--primary-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/*-- Список карток --*/

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.cards-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.cards-list__link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

/*-- Overlay на карточку --*/

.cards-list__link:hover .cards-list_text--overlay,
.cards-list__link:focus .cards-list_text--overlay {
  transform: translateY(-100%);
}

.cards-list__img-container {
  position: relative;
  overflow: hidden;
}
.cards-list_text--overlay {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;

  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
/*-- Текст карточки --*/

.cards-list__container {
  padding: 19px 24px;
  border: 1px solid #eeeeee;
}

.cards-list__link .cards-list__title {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.cards-list__link .cards-list__filter {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  color: #757575;
}

/*-------- Кынець сторінки сайту "Портфоліо"--------*/

/* .filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
} */
/* .filter-list__item:not(:last-child) {
  margin-right: 8px;
} */
